html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100px;
  width: 100em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: sans-serif;
  background-color: #FF6E70;
  text-align: center;
}

button {
  font-size: 100px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

