html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 80px;
  width: 50em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 80vh;

  font-family: sans-serif;
  background-color: #E6ADAD;
  text-align: center;
}

button {
  font-size: 52px;
  font-family: sans-serif;
}

img {
  max-width: 10%;
}
